{% extends 'panel/base.html' %}



{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">OK</button>
    </form>


</div>

<script>
jQuery.datetimepicker.setLocale('uk');
$("#id_deadline").datetimepicker({

format:'Y-m-d H:m',
minDate: 0,
language: 'uk',
locale: 'uk',
allowTimes:[
  '12:00', '13:00', '14:00',
  '15:00', '16:00', '17:00', '18:00', '19:00'
 ]
});
</script>



{% endblock%}

