{% extends 'panel/base.html' %}
{% block content %}


    <table class="table table-striped">
        <thead class="">
        <tr>

            <th scope="col">Виконати до: </th>
            <th scope="col">Опис телеграми </th>
            <th scope="col">№ вих. телеграми </th>
            <th scope="col">Змінити </th>
        </tr>
        </thead>
        <tbody>
        {% for i in tlg %}
        <tr>

            <td> {{ i.deadline | date:"d.m.Y H:m"}}</td>
            <td> {{ i.description |slice:":71"}}</td>
            <td> {{ i.tlg_number }}</td>

            <td>
                <button class="btn btn-info"><a href="{% url 'telegram-update' i.id %}" style="color:white;"><i class="fas fa-edit"></i></a></button>
                <button class="btn btn-info"><a href="{% url 'check' i.id %}" style="color:white;"><i class="fas fa-check-square"></i></a></button>
                <button class="btn btn-info"><a href="{% url 'telegram-detail' i.id %}" style="color:white;"><i class="fas fa-info-circle"></i></a></button>
                 <button class="btn btn-info"><a href="{% url 'telegram-delete' i.id %}" style="color: #c11818d1;"><i class="fas fa-trash"></i></a></button>
            </td>
        {% endfor %}
</tr>
        </tbody>
    </table>


{% endblock%}