{% extends 'panel/base.html' %}
{% block content %}


    <table class="table table-striped">
        <thead class="">
        <tr>
            <th scope="col">Дата створення: </th>
            <th scope="col">Виконати до: </th>
            <th scope="col">Опис телеграми </th>
            <th scope="col">Номер вихідної телеграми </th>
            <th scope="col">Статус </th>
            <th scope="col">Змінити </th>
        </tr>
        </thead>
        <tbody>
        {% for i in tlg %}
        <tr>
            <td> {{ i.date_create }}</td>
            <td> {{ i.deadline }}</td>
            <td> {{ i.description }}</td>
            <td> {{ i.tlg_number }}</td>
             <td> {{ i.status }}</td>
            <td>
                <button class="btn btn-info"><a href="{% url 'telegram-update' i.id %}" style="color:green;">UPDATE</a></button>
                <button class="btn btn-info"><a href="{% url 'telegram-detail' i.id %}" style="color:green;">EXAMPLE</a></button>
                 <button class="btn btn-info"><a href="{% url 'telegram-delete' i.id %}" style="color:green;">DELETE</a></button>
            </td>
        {% endfor %}
</tr>
        </tbody>
    </table>
{

{% endblock%}