{% extends 'panel/base.html' %}



{% load crispy_forms_tags %}
{% block content %}
{{ x }}
<div class="container">
    <br>
<div class="content-section">
    <form method="GET" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form | crispy}}
        <br>
        <button type="submit" class="btn btn-primary">OK</button>
    </form>


</div>
<ul>
  {% for i in search_text %}
    <li>
      {{ i }}
    </li>
  {% endfor %}
</ul>
</div>
<script>
$('#id_date_create, #id_deadline').daterangepicker({

locale: {
      format: 'YYYY-MM-DD',
       "daysOfWeek": [
            "НД",
            "ПН",
            "ВТ",
            "СР",
            "ЧТ",
            "ПТ",
            "СБ"
        ],
         "monthNames": [
            "Січень",
            "Лютий",
            "Березень",
            "Квітень",
            "Травень",
            "Червень",
            "Липень",
            "Серпень",
            "Вересень",
            "Жовтень",
            "Листопад",
            "Грудень"
        ],
         "firstDay": 1
    }
});

$("#id_priority_0").prop("checked", true);

</script>
{% endblock %}