{% extends 'panel/base.html' %}



{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{{ x }}
<div class="container">
    <br>
<div class="content-section">
    <form method="GET" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form | crispy}}
        <br>
        <button type="submit" class="btn btn-primary">OK</button>
    </form>


</div>
<br>
    <ul style="list-style-type:none;">

    {% if search_text %}
   <h4> Результат пошуку</h4>
  {% for i in search_text %}


   <li>  <a href="{% url 'telegram-detail' i.id %}" ><i class="fas fa-envelope-open-text"></i>     {{ i.tlg_number }} від {{ i.date_create| date:"d.m.Y"}}</a></li>

    {% endfor %}
    {% else %}
       <div style="text-align: center;">
           <h4 >Результат пошуку не дав</h4>
        <img src="{% static 'images/search_error.png' %}">

           </div>
     {% endif %}
</ul>
</div>
<script>
$('#id_date_create, #id_deadline').daterangepicker({

locale: {
      format: 'YYYY-MM-DD',
       "daysOfWeek": [
            "НД",
            "ПН",
            "ВТ",
            "СР",
            "ЧТ",
            "ПТ",
            "СБ"
        ],
         "monthNames": [
            "Січень",
            "Лютий",
            "Березень",
            "Квітень",
            "Травень",
            "Червень",
            "Липень",
            "Серпень",
            "Вересень",
            "Жовтень",
            "Листопад",
            "Грудень"
        ],
         "firstDay": 1
    }
});

$("#id_priority_0").prop("checked", true);

</script>
{% endblock %}