{% extends 'panel/base.html' %}
{% block content %}
<br>

<div>
    Відмітьте/зніміть прапорцем напроти підрозділу, який відповів/невідповів на тлг {{  tlg.tlg_number }} від {{ tlg.date_create| date:"d.m.Y" }}
</div>
<hr>
  <i class="fas fa-users"></i> Розрахунок розсилки:
  <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
  {% for i in ttt %}

{% if  i.status   %}
   <div> <input type="checkbox" name="test"  value="{{ i.unit }}" checked>
    <label>{{ i.unit }}</label>
       </div>
{% else %}
    <div> <input type="checkbox" name="test" value="{{ i.unit }}">
    <label >{{ i.unit }}</label>
    </div>
{% endif %}

{% endfor %}

      <br>
  <button type="submit" class="btn btn-primary">OK</button>

  </form>

{% endblock %}
