{% extends 'panel/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<h1>TELEGRAM CONTROL PANEL PAGE!</h1>
<div class="content-section">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">OK</button>
    </form>
</div>
СПИСОК ЧАСТИН
{% for i in list %}

{% if i in ttt %}
   <div> <input type="checkbox" name="test"  value="{{ i }}" checked>
         <label> {{ i }} </label>
   </div>
{% else %}
     <div> <input type="checkbox" name="test"  value="{{ i }}" >
         <label> {{ i }} </label>
   </div>
{% endif %}


{% endfor %}

{% endblock%}