{% extends 'panel/base.html' %}
{% block content %}


<br>
<div class="container">
    <div class="row">
        <div class="col-5">
             <h4> {% if object.priority == "1" %}
            <i class="fas fa-exclamation fa-1x" style="color:red;"></i>

            {% endif %}
                 <i class="fas fa-envelope-open-text"></i> № {{ object.tlg_number}} від {{ object.date_create| date:"d.m.Y" }}</h4>
        </div>
         <div class="col-3">
              <i class="fas fa-check-double"></i> Статус телеграми:
             {% if object.confirm %}
           виконана!
        {% else %}
            не виконанa!
        {% endif %}
        </div>
        <div class="col-4">
             <h4> <i class="fas fa-hourglass-half"></i>Виконати до {{ object.deadline | date:"d.m.Y H:m" }}</h4>
        </div>
    </div>
    <hr>
      <div class="col-1">

        </div>
    <div class="row">
        <label>Короткий опис телеграми</label>
        <br>
      {{ object.description }}
    </div>
    <hr>
    <div class="row">
        <div class="col">
            {% if object.tlg_scan %}
                Переглянути телеграму
                <a href="{% url 'pdf-view' object.pk %}" target="blank" ><img src="/static/images/pdf_view.png"></a>
            {% else %}
            Телеграму не завантажено!

            {% endif %}

        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col">
          <i class="fas fa-comment-alt"></i>
        Примітки: {% if object.note %}
        {{ object.note }}
        {% else %}
        коментарі відсутні!
        {% endif %}
        </div>

    </div>
    <hr>



</div>




<div class="container">
    <div class="row">
        <div class="col-3">
            <i class="fas fa-users"></i> Розрахунок розсилки:
        </div>
         <div class="col-3">
            Відмітка про виконання
        </div>
    </div>
</div>
{% for i in tlg %}

{% if  i.status   %}

   <div class="container">
       <div class="row">

       </div>
       <div class="row">
           <div class="col-4">
                 <label>{{ i.unit }}</label>
           </div>
           <div class="col-2">

               <i class="fas fa-plus"></i>
           </div>
       </div>

       </div>
{% else %}
     <div class="container">

       <div class="row">
           <div class="col-4">
                 <label>{{ i.unit }}</label>
           </div>

            <div class="col-2">

              <i class="fas fa-minus"></i>
           </div>
       </div>

       </div>
{% endif %}

{% endfor %}

{% endblock %}
