{% extends 'panel/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        СПИСОК ЧАСТИН
<div> <input type="checkbox"  value="all_un"  onClick="toggle(this)">
              <label> Виділити всі </label>
</div>
{% for i in list %}

{% if i in ttt %}

   <div> <input type="checkbox" name="test1"  value="{{ i }}"  checked>
         <label> {{ i }} </label>
   </div>
{% else %}
     <div> <input type="checkbox" name="test"  value="{{ i }}" >
         <label> {{ i }} </label>
   </div>
{% endif %}


{% endfor %}
        <button type="submit" class="btn btn-primary">OK</button>
    </form>
</div>

{% if messages %}
<div class="messages">
    {% for message in messages %}
            {{ message }}
    {% endfor %}
</div>


{% endif %}
<script>
  function toggle(source) {
  checkboxes = document.getElementsByName('test1');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
   checkboxes = document.getElementsByName('test');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>
<script>
jQuery.datetimepicker.setLocale('uk');
$("#id_deadline").datetimepicker({

format:'Y-m-d H:m',
minDate: 0,
language: 'uk',
locale: 'uk',
allowTimes:[
  '12:00', '13:00', '14:00',
  '15:00', '16:00', '17:00', '18:00', '19:00'
 ]
});
</script>
{% endblock%}